[submodule "CUE4Parse"]
	path = CUE4Parse
	url = https://github.com/Leuthil/CUE4Parse
	branch = UEATSerializer
[submodule "EpicManifestParser"]
	path = EpicManifestParser
	url = https://github.com/FModel/EpicManifestParser
[submodule "CUE4Parse2UEAT"]
	path = CUE4Parse2UEAT
	url = https://github.com/Leuthil/CUE4Parse2UEAT.git
